@model int
@{ 
    ViewBag.Title = "Employee not found";
}

<div class="alert alert-danger mt-2">
    <h1>
        Error 404
    </h1>
    <hr />
    @*<h5>Employee with Id = @ViewBag.Id.ToString() can not be found</h5>*@
    <h5>Employee with Id = @Model can not be found</h5>
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning" style="width:auto">
    Click here to see all employees
</a>