@model HomeEditViewModel
@{
    ViewBag.Title = "Edit employee";
    var avatarPath = $"/images/{(Model.AvatarPath ?? "nonavatar.png")}";
}

    <form enctype="multipart/form-data" asp-controller="Home" asp-action="Edit" method="post" class="mt-2">
        <input hidden asp-for="Id" />
        <input hidden asp-for="AvatarPath" />
        <div class="row form-group">
            <div class="col-sm-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label asp-for="Email"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label asp-for="Department"></label>
            </div>
            <div class="col-sm-10">
                <select asp-for="Department" class="custom-select"
                        asp-items="@Html.GetEnumSelectList<Dept>()">
                    <option value="">Select a department</option>
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label asp-for="Avatar"></label>
            </div>
            <div class="col-sm-10">
                <div class="custom-file">
                    <input class="custom-file-input" asp-for="Avatar">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
        </div>
        <div class="row col-4 offset-4">
            <img src="@avatarPath" class="myImage" asp-append-version="true" />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="row form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-controller="Home" asp-action="index" class="btn btn-warning">Cancel</a>
            </div>
        </div>
    </form>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        });
    </script>
}