<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:red; height: 30px; width:100%;">

    </div>
    <div>
        @RenderBody()
    </div>
    <div style="background-color:Yellow; height: 30px; width:100%;">
        <span> &copy; C010220 @DateTime.Now.Year </span>
    </div>
</body>
</html>
